@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h1> To Do List </h1>
    <i id="addListSection" class="material-icons"> add_circle </i>
    <i id="deleteListSection"  class="material-icons"> remove_circle </i>
</div>

<div class="MyItems container">
    
</div>